@import url(reset.css);
body {
  font-family: "Ubuntu", sans-serif;
  line-height: 26px;
  font-size: 16px;
}
.page {
  background-image: url("../images/fon.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 20px 20px 20px;
  text-align: center;
  background-color: rgb(232, 231, 244);
}
.title {
  color: rgb(0, 0, 0);
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 500;
}
.subtitle {
  color: rgb(74, 74, 161);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}
.content {
  font-weight: 400;
  text-align: justify;
  text-indent: 1.5em;
  padding-bottom: 20px;
}
.img_box {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  line-height: 0px;
  position: relative;
}
.img {
  width: 100%;
  height: auto;
}
.hidden_text {
  text-align: justify;
  top: 50%;
  margin-top: -50px;
  right: 0;
  width: 760px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  line-height: 26px;
  font-weight: 500;
  background-color: rgba(255, 249, 136, 0.4);
  display: none;
  vertical-align: middle;
  padding: 10px 35px;
}

.img_box:hover .hidden_text {
  display: block;
}
.header_box {
  position: fixed;
  margin-top: 50px;
  margin-left: 5px;
}
.header_box > div {
  border: 1px;
  border-radius: 3px;
  border-color: white;
  background-color: black;
  margin-bottom: 5px;
  padding: 3px 3px;
}
.header_box > div > a {
  color: white;
  text-decoration: none;
}
